
@{
    ViewBag.Title = "Send Data to View Data";
}

<h2>Send Data to View Data</h2>
<ul>
    <li><a target="_blank" href="/SendDataToView/UsingViewBagViewData">Using viewData & ViewBag</a></li>
    <li><a target="_blank" href="/SendDataToView/UsingTempData">Using Temp Data</a></li>
    <li><a target="_blank" href="/SendDataToView/usingModle">Using Modle</a></li>
</ul>

