
@{
    ViewBag.Title = "View Data And View Modle ";
}

<li><a target="_blank" href="/Bussines/Home/UsingViewBagViewData">Using viewData & ViewBag</a></li>
<li><a target="_blank" href="/Bussines/Home/UsingTempData">Using Temp Data</a></li>
<li><a target="_blank" href="/Bussines/Home/usingModle">Using Modle</a></li>

