
@{
    ViewBag.Title = "Student Grade";
}

<h2>Your Grade</h2>

@section scripts{
    <script>
        alert("Your Grades ")
    </script>
    }
@section css{
    <style>
        h2{
            color:darkblue;
        }
    </style>
    }

