
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <div> 
        <h1>Coutrey</h1>
        <ul class="x">
            <li>North Gaza</li>
            <li>Gaza</li>
            <li>Alwesta
                <ul>
                    <li>Dear ELbaleh</li>
                    <li>Alnusirat</li>
                    <li>Magazy</li>
                    <li>ALborage</li>
                </ul>
            </li>
            <li>Khanyones</li>
            <li>Rafaah</li>
        </ul>
    </div>
</body>
</html>
