
@{
    ViewBag.Title = "Products List";
}

<h1>Products List</h1>
<p>Products Sample </p>
<ul>
    <li>Sample 1</li>
    <li>Sample 1</li>
    <li>Sample 1</li>
    <li>Sample 1</li>
    <li>Sample 1</li>
    <li>Sample 1</li>
    <li>Sample 1</li>
    <li>Sample 1</li>
    <li>Sample 1</li>
</ul>

@section scripts{
    <script>
        alert("welcom ")
    </script>
    }

@section css{
    <style>
        h1{
            color:red;
        }
    </style>
    }

